div.menu{
	width: 800px;
	height: 70px;
	background-color: #61E7E7;
	border:5px solid #61E7E7;
	position: relative;
    top: 0px;
    margin: 0 auto;
    z-index: 9999;
}

div.fact{
	position: relative;
	width: 800px;
	height: 65px;
	top: 650px;
	background-color: #61E7E7;
	border:5px solid #61E7E7;
	margin: 0 auto;
}

p.a1{
	font-family: sans-serif;
	font-size:16px;
	text-align:center;
	position: relative;
	top:10px
}

p.a2{
	font-family: sans-serif;
	font-size:16px;
	text-align:center;
	position: relative;
	top:-40px
}

p.a3{
	font-family: sans-serif;
	font-size:16px;
	text-align:center;
	position: relative;
	top:-20px;
	border-bottom:3px white solid;
	padding:20px
}

.oi{
	font-family: sans-serif;
	font-size:20px;
	text-align:center;
}

p.b1{
	font-family: sans-serif;
	font-size:26px;
	position: relative;
	top:-32px;
	left:52px
}

body{
	background: url(fon.png) fixed
}

div.fact2{
	position: relative;
	width: 800px;
	height: 65px;
	background-color: #61E7E7;
	border:5px solid #61E7E7;
	margin: 0 auto;
}

a{
	text-decoration:none
}

img.kok{
	width:82px;
	height:62px;
	margin:0 auto;
	float:left;
}

div.pod:hover{
	background-color:#DCDCDC;
	opacity:0.5;
}

div.cont{ 
  position: relative; 
  margin: 0 auto;
  max-width: 1200px; 
  padding:20px
}

h4{
	position:relative;
	bottom:0px;
	left:75px;
	color:white;
	font-family: sans-serif;
	font-size:14px;
}

img.l5{
	width:50px;
	height:50px;
	float:right;
	position:relative;
	right:735px
}

img.l7{
	width:50px;
	height:50px;
	float:right;
	position:relative;
	bottom:100px
}

img.k{
	width:550px;
	height:350px;
	position:relative;
	right:-120px;
	top:-30px
}

div.cult{
	width:700px;
	padding:1px;
	position:relative;
	left:50px
}

img.sd{
	width:20px;
	height:20px;
	position:relative;
	top:20px;
	left:30px
}	

img.lypa2{
	width:50px;
	height:50px;
	float:right;
	position:relative;
	bottom:50px;
}

h4.yt{
	position:relative;
	top:-50px;
	left:95px
}

h1{
	float:left;
	font-family: Comic Sans MS, Comic Sans, cursive;
	color:black;
	width:100px;
	margin-left:7px;
	margin-top:10px
}

a.menu2{
	position:relative;
	top:20px;
	left:100px;
	font-family: sans-serif
}

a.m3{
	position:relative;
	left:143px;
	top:20px;
	font-family: sans-serif
}

a.m4{
	position:relative;
	top:20px;
	left:180px;
	font-family: sans-serif
}

img.l1{
	width:50px;
	height:50px;
	position:relative;
	right:0px
}

div.base{
	width: 800px;
	height: 60px;
	background-color: #61E7E7;
	border:5px solid #61E7E7;
	position: relative;
    top:395px;
    margin: 0 auto;
    z-index: 9999;
}

div.base2{
	width: 800px;
	height: 60px;
	background-color: #61E7E7;
	border:5px solid #61E7E7;
	position: relative;
    margin: 0 auto;
    z-index: 9999;
}

img.mail, .vk{
	width:50px;
	height:50px;
}

img.ka{
	width:700px;
	height:350px;
	position:relative;
	left:50px;
	top:10px
}

div.info1{
	width: 800px;
	height: 470px;
	background-color: #D3FAFD;
	position: relative;
    margin: 0 auto;
	margin-top:40px;
	margin-bottom:40px;
    z-index: 9999;
}

div.info2{
	width: 800px;
	height: 1470px;
	background-color: #D3FAFD;
	position: relative;
    margin: 0 auto;
	margin-top:40px;
	margin-bottom:40px;
    z-index: 9999;
}

div.info3{
	width: 800px;
	height: 470px;
	background-color: #D3FAFD;
	position: relative;
    margin: 0 auto;
	margin-top:40px;
	margin-bottom:40px;
    z-index: 9999;
}

div.info4{
	width: 800px;
	height: 470px;
	background-color: #D3FAFD;
	position: relative;
    margin: 0 auto;
	margin-top:40px;
	margin-bottom:40px;
    z-index: 9999;
}

* {
  box-sizing: border-box;
}

.container {
  width:800px;
  position:relative;
  height:300px;
  margin: 0 auto;
  top: -60px;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: 90px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

.enu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height:100px
}

.menu__link {
  display: inline-block;
  color: #2d6c90;
  text-decoration: none;
  position: relative;
  padding: 14px 0;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.040em;
  top:10px;
  left:-80px;
}

.menu__link2 {
  display: inline-block;
  color: #2d6c90;
  text-decoration: none;
  position: relative;
  padding: 14px 0;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.040em;
  top:-35px;
  left:120;
  border-left:1px solid;
  padding:10px
}

.menu__link3 {
  display: inline-block;
  color: #2d6c90;
  text-decoration: none;
  position: relative;
  padding: 14px 0;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.040em;
  top:-77px;
  left:315px;
  border-left:1px solid;
  padding:10px
}

.menu__link svg {
  fill: none;
  stroke: #70aec9;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 338;
  stroke-dashoffset: 338;
  stroke-linecap: round;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 60px);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  z-index: -1;
}

.menu__link2 svg {
  fill: none;
  stroke: #70aec9;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 338;
  stroke-dashoffset: 338;
  stroke-linecap: round;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 60px);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  z-index: -1;
}

.menu__link3 svg {
  fill: none;
  stroke: #70aec9;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 338;
  stroke-dashoffset: 338;
  stroke-linecap: round;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 60px);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  z-index: -1;
}

.menu__link--active svg {
  stroke: #ff4c4c;
}

.menu__link2--active svg {
  stroke: #ff4c4c;
}

.menu__link3--active svg {
  stroke: #ff4c4c;
}

.menu__link--active svg,
.menu__link:hover svg {
  stroke-dashoffset: 0;
  opacity: 1;
  transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu__link2--active svg,
.menu__link2:hover svg {
  stroke-dashoffset: 0;
  opacity: 1;
  transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu__link3--active svg,
.menu__link3:hover svg {
  stroke-dashoffset: 0;
  opacity: 1;
  transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}